{
  "log": {
    "_recordingName": "github-api-test",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9904c35dbf7138d08a2f70f5e829ad51",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/sugurucode/oreilly-javascript/issues?state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 784,
            "text": "[{\"url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3\",\"repository_url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript\",\"labels_url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3/comments\",\"events_url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3/events\",\"html_url\":\"https://github.com/sugurucode/oreilly-javascript/issues/3\",\"id\":4027396790,\"node_id\":\"I_kwDOOxcQRc7wDTK2\",\"number\":3,\"title\":\"issue-create\",\"user\":{\"login\":\"sugurucode\",\"id\":181295040,\"node_id\":\"U_kgDOCs5XwA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/181295040?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/sugurucode\",\"html_url\":\"https://github.com/sugurucode\",\"followers_url\":\"https://api.github.com/users/sugurucode/followers\",\"following_url\":\"https://api.github.com/users/sugurucode/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/sugurucode/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/sugurucode/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/sugurucode/subscriptions\",\"organizations_url\":\"https://api.github.com/users/sugurucode/orgs\",\"repos_url\":\"https://api.github.com/users/sugurucode/repos\",\"events_url\":\"https://api.github.com/users/sugurucode/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/sugurucode/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-03-05T10:39:46Z\",\"updated_at\":\"2026-03-05T10:39:46Z\",\"closed_at\":null,\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":null,\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/sugurucode/oreilly-javascript/issues/3/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d0e0a3e45996d903d6ead17b8a93481243074095c78f6c2f27bfa35d4dfa915\""
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1774753984"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 811,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
